body {
  font-family: var(--text-font);
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0px 0px;
}

.hero .container {
  width: 100%;
  flex-direction: column;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
  .footer .container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .footer .container {
    margin: 0 auto;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-item-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover, .social-list-item-link:focus {
  background-color: var(--accent-color);
}

.footer .social-list-item-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-item-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-list-item-link:hover .social-list-item-icon,
.social-list-item-link:focus .social-list-item-icon {
  fill: #ffffff;
}

.footer .social-list-item-icon {
  fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .footer .social-list {
    display: flex;
    justify-content: start;
    width: 203px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --text-font: "Roboto", sans-serif;
  --logotype-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --title-color:  #212121;
  --text-color: #757575;
}

.hero .container, .social-list-item-link, .header, .adv-list-icon-back-div, .team-list, .customers-list-item-link, .modal-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 60px;
  border-bottom: 1px solid #ECECEC;
}

.navigation-list {
  display: none;
}

.address-header {
  display: none;
}

.logotype {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  font-family: var(--logotype-font);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logotype-light-theme {
  color: var(--title-color);
}

.burger-icon {
  width: 40px;
  height: 40px;
}

.burger-icon:hover, .burger-icon:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  width: 100%;
  max-width: 480px;
  padding: 48px 40px;
  position: absolute;
  max-width: 400px;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

.mobile-close-button,
.burger-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 15px;
}

.close-icon {
  width: 40px;
  height: 40px;
  fill: #000000;
}

.mobile-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.mobile-close-button:hover .close-icon,
.mobile-close-button:focus .close-icon {
  fill: var(--accent-color);
}

.mobile-menu-nav-link {
  display: block;
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  font-family: var(--text-font);
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.mobile-menu-nav-link:hover, .mobile-menu-nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu-nav-list {
  margin-bottom: 302px;
}

.mobile-menu-email-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  font-family: var(--text-font);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile-menu-email-link:hover, .mobile-menu-email-link:focus {
  color: var(--accent-color);
}

.mobile-menu-tel-link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  font-family: var(--text-font);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile-menu-tel-link:hover, .mobile-menu-tel-link:focus {
  color: var(--accent-color);
}

.mobile-menu-contact-list {
  margin-bottom: 65px;
}

.mobile-menu-social-list {
  display: flex;
  align-items: center;
}

.mobile-menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  font-family: var(--text-font);
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  color: var(--accent-color);
}

.mobile-menu-social-link::before {
  content: '';
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mobile-menu-social-link:not(last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .burger-icon {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .logotype {
    margin-right: 88px;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-right: 80px;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation-list-item {
    position: relative;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    font-family: var(--text-font);
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-item-link:hover, .navigation-list-item-link:focus {
    color: var(--accent-color);
  }
  .navigation-list-item-curent {
    color: var(--accent-color);
  }
  .navigation-list-item-curent::after {
    content: '';
    position: absolute;
    display: flex;
    background: var(--accent-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    transform-origin: center;
    top: 36px;
  }
  .address-header {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .address-list {
    display: inline-block;
  }
  .email-link,
  .tel-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    font-family: var(--text-font);
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .email-link:hover, .email-link:focus,
  .tel-link:hover,
  .tel-link:focus {
    color: var(--accent-color);
  }
  .mail-icon {
    align-items: center;
    width: 14px;
    height: 10px;
  }
}

.tel-icon {
  width: 10px;
  height: 14px;
}

.tel-icon,
.mail-icon {
  margin-right: 8px;
  fill: var(--text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link:hover .tel-icon,
.tel-link:focus .tel-icon, .tel-link:hover
.mail-icon,
.tel-link:focus
.mail-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logotype {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
  }
  .email-link,
  .tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
  }
  .email-link {
    margin-right: 30px;
  }
  .mail-icon,
  .tel-icon {
    margin-right: 10px;
  }
  .mail-icon {
    width: 16px;
    height: 12px;
  }
  .tel-icon {
    vertical-align: top;
    height: 16px;
  }
  .address-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hero {
  width: 100%;
  height: 400px;
  background: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(//images/mobile-back@1x.png);
  background-size: 480px 400px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-title {
  font-family: var(--text-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  width: 360px;
}

.hero-button {
  width: 200px;
  height: 50px;
  left: 140px;
  top: 292px;
  color: #ffffff;
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
  .hero-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: url("../../images/mobile-back@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../../images/tablet-back@1x.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url("../../images/tablet-back@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../../images/dekstop-back@1x.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("../../images/dekstop-back@2x.png");
  }
}

.adv {
  width: 100%;
  padding: 60px 0;
}

.adv-list-item-icon {
  width: 70px;
  height: 70px;
}

.adv-list-icon-back-div {
  width: 100%;
  max-width: 450px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.adv-list-item-title {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.adv-list-item-text {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .adv-list-icon-back-div {
    width: 354px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adv-list-item:nth-child(2n+1) {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .adv-list-item {
    width: 354px;
  }
  .adv-list-item-title {
    text-align: start;
  }
  .adv-liste {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .adv {
    padding-top: 94px;
  }
  .adv-list-icon-back-div {
    width: 270px;
  }
  .adv-list-item {
    width: 270px;
  }
  .adv-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .work {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
  }
  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    display: none;
  }
  .work-list-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: -15px;
  }
  .work-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .work-list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .work-list-item-images-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #FFFFFF;
  }
  .work-list-item-images-div {
    width: 370px;
    position: absolute;
    top: 225px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }
}

.team {
  background: #F5F4FA;
  padding: 60px 0;
}

.team-list {
  flex-direction: column;
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 30px;
  margin-top: 30px;
}

.team-list-div {
  text-align: center;
  width: 100%;
  max-width: 450px;
  height: 162px;
  background: #ffffff;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-title {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding-top: 30px;
}

.team-list-item-text {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .team-list-div {
    width: 354px;
  }
}

@media screen and (max-width: 1199px) {
  .team-list-item:nth-child(2n+1) {
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
  .team-list-div {
    width: 270px;
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.customers {
  padding: 60px 0;
}

.customers-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 30px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
}

.customers-list-item {
  margin: 0 auto;
  justify-content: center;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 210px;
  height: 90px;
}

.customers-list-item:hover {
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 767px) {
  .customers-list-item:nth-child(2n+1) {
    margin-right: auto;
  }
  .customers-list-item:not(:nth-child(n+5)) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 419px) {
  .customers-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.customers-list-item-link {
  position: absolute;
  width: 210px;
  height: 90px;
}

.customers-list-item-link:hover .customers-list-item-icon,
.customers-list-item-link:focus .customers-list-item-icon {
  fill: var(--accent-color);
}

.customers-list-item-icon {
  fill: #AFB1B8;
}

.customers-list-item-icon1 {
  width: 45px;
  height: 49px;
}

.customers-list-item-icon2 {
  width: 40px;
  height: 52px;
}

.customers-list-item-icon3 {
  width: 41px;
  height: 42px;
}

.customers-list-item-icon4 {
  width: 80px;
  height: 42px;
}

.customers-list-item-icon5 {
  width: 59px;
  height: 47px;
}

.customers-list-item-icon6 {
  width: 88px;
  height: 45px;
}

@media screen and (min-width: 768px) {
  .customers-list {
    justify-content: space-between;
  }
  .customers-list-item {
    width: 226px;
    margin-right: auto;
  }
  .customers-list-item-link {
    width: 226px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list-item:nth-child(3n) {
    margin-right: 0;
  }
  .customers-list-item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0;
  }
  .customers-list-item {
    width: 170px;
  }
  .customers-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .customers-list-item-link {
    width: 170px;
  }
}

.footer {
  background-color: #2F303A;
  text-align: center;
  padding: 60px 0;
}

.footer-div {
  margin-bottom: 60px;
}

.footer-logotype {
  display: inline-block;
  text-align: center;
  font-family: var(--logotype-font);
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.logotype-dark-theme {
  color: #ffffff;
}

.footer-address-location {
  font-style: normal;
  display: inline-block;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.footer-email-link {
  font-style: normal;
  display: inline-block;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

.footer-tel-link {
  font-style: normal;
  display: inline-block;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-title {
  display: inline-block;
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-form-div {
  margin-top: 60px;
}

.footer-form-label {
  display: inline-block;
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-form-input {
  display: inline-block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.footer-form-input::placeholder {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 200px;
  height: 50px;
  left: 140px;
  top: 292px;
  color: #ffffff;
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

.footer-form-button-icon {
  vertical-align: middle;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-logotype {
    text-align: start;
    justify-content: start;
    align-items: flex-start;
  }
  .footer-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: 76px;
    margin-bottom: 0px;
  }
  .footer-social-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-right: auto;
  }
  .footer-form-input-div {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-self: center;
  }
  .footer-form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-div {
    text-align: start;
    align-items: flex-start;
    margin-right: auto;
    margin-left: 0px;
  }
  .footer-social-div {
    margin-right: auto;
  }
  .footer-social-title {
    text-align: start;
    align-self: flex-start;
  }
  .footer-form-input-div {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    align-self: flex-start;
  }
  .footer-form-input {
    width: 358px;
    margin-right: 10px;
  }
  .footer-form-div {
    text-align: start;
    margin: 0 0;
  }
}

/* modal-window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 450px;
  height: 95%;
  max-height: 609px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-bottom: 40px;
}

/* end modal window */
/* modal form */
.modal-close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}

.modal-close-button-icon {
  width: 20px;
  height: 20px;
  padding-top: 3px;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-icon:hover {
  fill: var(--accent-color);
}

.modal-close-button:focus .modal-close-button-icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--text-font);
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  padding-bottom: 12px;
}

.modal-form-icon-name {
  width: 17px;
  height: 17px;
  position: absolute;
  fill: #212121;
  transform: translateY(-50%);
  top: 50%;
  left: 14px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon-name {
  fill: var(--accent-color);
}

.modal-form-icon-tel {
  width: 17px;
  height: 16px;
  position: absolute;
  fill: #212121;
  transform: translateY(-50%);
  top: 50%;
  left: 14px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon-tel {
  fill: var(--accent-color);
}

.modal-form-icon-email {
  width: 20px;
  height: 16px;
  position: absolute;
  fill: #212121;
  transform: translateY(-50%);
  top: 50%;
  left: 14px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon-email {
  fill: var(--accent-color);
}

.modal-form-label {
  align-self: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  font-family: var(--text-font);
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 7px;
}

.modal-form-input {
  width: 370px;
  height: 40px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 7px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  padding-left: 42px;
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.modai-form-input-align {
  display: block;
  position: relative;
}

.modal-form-textarea {
  width: 370px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  font-family: var(--text-font);
  letter-spacing: 0.03em;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form-label-license {
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  font-family: var(--text-font);
  letter-spacing: 0.03em;
  color: var(--text-color);
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label-license::before {
  display: inline-block;
  vertical-align: top;
  content: "";
  background-image: url(../images/Vector.svg);
  width: 16px;
  height: 15px;
  fill: #000000;
  align-self: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label-license .modal-form-label-license span {
  vertical-align: middle;
}

.modal-form-check-license:checked + .modal-form-label-license::before {
  background-image: url(../images/iconcheck.svg);
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  align-self: center;
}

.modal-form-check-license:focus + .modal-form-label-license::before {
  outline: 1px solid var(--accent-color);
}

.modal-form-button {
  min-width: 200px;
  min-height: 50px;
  margin-top: 40px;
  cursor: pointer;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: var(--text-font);
  letter-spacing: 0.06em;
  align-self: center;
  text-align: center;
  color: #FFFFFF;
}

.modal-form-liense-link {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 100%;
    height: 581px;
  }
  .modal-form-input {
    width: 448px;
  }
  .modal-form-textarea {
    width: 448px;
  }
}

/* end modal form */
/*# sourceMappingURL=main.css.map */