.adv {
    width: 100%;
    padding: 60px 0;
}
.adv-list-item-icon {
    width: 70px;
    height: 70px;
}
.adv-list-icon-back-div {
    width: 100%;
    max-width: 450px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;    
    @extend %align;
    margin-bottom: 30px;
}

.adv-list-item-title {
    font-family: var(--text-font);
    @include font($fw:700, $fs:14px, $lh:16px);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
}
.adv-list-item-text {
    font-family: var(--text-font);
    @include font($fs:14px, $lh:24px);
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 30px;
}


@media screen and (min-width: 768px) {
    .adv-list-icon-back-div {
        width: 354px;
        margin-bottom: 30px;

    }
    @media screen and (max-width: 1199px) {
        .adv-list-item {
            &:nth-child(2n+1){
                margin-right: auto;
            }
        }
    }
    .adv-list-item {
        width: 354px;
    }
    .adv-list-item-title {
        text-align: start;
    }
    .adv-liste {
        display: flex;
        flex-wrap: wrap;
        // @extend %align;
    }
    
}
@media screen and (min-width: 1200px) {
    .adv {
        padding-top: 94px;
    }
    .adv-list-icon-back-div {
        width: 270px;
    }
    .adv-list-item {
        width: 270px;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}






// /* Adventages */
// .adv {
//     padding-bottom: 95px;
//     padding-top: 95px;
// }
// .adv-liste {
//     display: flex;
//     align-content: center;
//     justify-content: center;
// }
// .adv-title{
//     display: none;
// }
// .adv-list-item-title {
// font-weight: 700;
// font-size: 14px;
// line-height: 1.142px;
// letter-spacing: 0.03em;
// text-transform: uppercase;
// color: #212121;
// margin-top: 35px
// }
// .adv-list-item-text {
// font-size: 14px;
// line-height: 1.71;
// letter-spacing: 0.03em;
// margin-top: 15px;
// max-width: 260px;
// }
// .adv-list-item {
//     &:not(:last-child) {
//         margin-right: 30px;
//     }
// }

// .adv-list-item-icon {
//     width: 65px;
//     height: 70px;
//     padding-top: 25px;
//     padding-bottom: 25px;
//     padding-left: 102px;
//     padding-right: 102px;
//     background-color: #F5F4FA;;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 4px;
// }
// /* End Adventages */