// .customers {
//     & .container{
//             margin{
//                 left: auto;
//                 right: auto;
//             }
//     }
// }

.customers-title {
    @include font-title($fs:28px, $lh:33px);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

// /* Customers */
// .customers {
//     padding-top: 95px;
//     padding-bottom: 95px;
// }
// .customers-title {
//     align-items: center;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.16px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: #212121;
//     margin-bottom: 60px;
// }
// .customers-list {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     justify-content: space-between;
// }
// .customers-list-item {
//     width: 170px;
//     height: 90px;
//     border: 1px solid #AFB1B8;
//     box-sizing: border-box;
//     border-radius: 4px;
//     &:hover {
//         border: 1px solid var(--accent-color);
//     }
// }
// .customers-list-item-icon {
//     fill:#AFB1B8;
//     transition-property: fill;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// .customers-list-item-icon1 {
//     width: 45px;
//     height: 49px;
//     margin-top: 20px;
//     margin-bottom: 20px;
//     margin-right: 63px;
//     margin-left: 63px;
// }
// .customers-list-item-icon2 {
//     width: 40px;
//     height: 52px;
//     margin-top: 19px;
//     margin-bottom: 19px;
//     margin-right: 65px;
//     margin-left: 65px;
// }
// .customers-list-item-icon3 {
//     width: 41px;
//     height: 42px;
//     margin-top: 24px;
//     margin-bottom: 24px;
//     margin-right: 64px;
//     margin-left: 64px;
// }
// .customers-list-item-icon4 {
//     width: 80px;
//     height: 42px;
//     margin-top: 24px;
//     margin-bottom: 24px;
//     margin-right: 45px;
//     margin-left: 45px;
// }
// .customers-list-item-icon5 {
//     width: 59px;
//     height: 47px;
//     margin-top: 22px;
//     margin-bottom: 21px;
//     margin-right: 55px;
//     margin-left: 56px;
// }
// .customers-list-item-icon6 {
//     width: 88px;
//     height: 45px;
//     margin-top: 22px;
//     margin-bottom: 22px;
//     margin-right: 40px;
//     margin-left: 41px;  
// }
// .customers-list-item-link {
//     display: block;
//     width: 170px;
//     height: 90px;

//     &:hover .customers-list-item-icon,
//     &:focus .customers-list-item-icon {
//     fill: var(--accent-color);
// }
// }



// /* End Customers */