.customers {
    padding: 60px 0;;
}

.customers-title {
    @include font-title($fs:28px, $lh:33px);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 30px;
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
}
.customers-list-item{
    justify-content: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 210px;
    height: 90px;
    &:nth-child(2n+1) {
        margin-right: auto;
    }
    &:not(:nth-child(n+5)) {
        margin-bottom: 30px;
    }
        &:hover {
        border: 1px solid var(--accent-color);
    }
}
.customers-list-item-link {
    @extend %align;
    position: absolute;
    width: 210px;
    height: 90px;
    &:hover .customers-list-item-icon,
    &:focus .customers-list-item-icon {
    fill: var(--accent-color);
}
}
.customers-list-item-icon {
    fill: #AFB1B8;
}

.customers-list-item-icon1 {
    width: 45px;
    height: 49px;
}
.customers-list-item-icon2 {
    width: 40px;
    height: 52px;
}
.customers-list-item-icon3 {
    width: 41px;
    height: 42px;
}
.customers-list-item-icon4 {
    width: 80px;
    height: 42px;
}
.customers-list-item-icon5 {
    width: 59px;
    height: 47px;
}
.customers-list-item-icon6 {
    width: 88px;
    height: 45px; 
}

// /* Customers */
// .customers {
//     padding-top: 95px;
//     padding-bottom: 95px;
// }
// .customers-title {
//     align-items: center;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.16px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: #212121;
//     margin-bottom: 60px;
// }
// .customers-list {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     justify-content: space-between;
// }
// .customers-list-item {
//     width: 170px;
//     height: 90px;
//     border: 1px solid #AFB1B8;
//     box-sizing: border-box;
//     border-radius: 4px;
//     &:hover {
//         border: 1px solid var(--accent-color);
//     }
// }
// .customers-list-item-icon {
//     fill:#AFB1B8;
//     transition-property: fill;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .customers-list-item-link {
//     display: block;
//     width: 170px;
//     height: 90px;

//     &:hover .customers-list-item-icon,
//     &:focus .customers-list-item-icon {
//     fill: var(--accent-color);
// }
// }



// /* End Customers */