.footer {
    background-color: #2F303A;
    text-align: center;
    padding: 60px 0;
}
.footer-div {
    margin-bottom: 60px;
}
.footer-logotype {
    display: inline-block;
    text-align: center;
    font-family: var(--logotype-font);
    color: var(--accent-color);
    @include font ($fw:700, $fs:24px, $lh:28px);
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}
.logotype-dark-theme{
    color: #ffffff;
}
.footer-address-location {
    font-style: normal;
    display: inline-block;
    font-family: var(--text-font);
    @include font($fs:14px, $lh:24px);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer-email-link {  
    font-style: normal;
    display: inline-block;
    font-family: var(--text-font);
    @include font ($fs:14px, $lh:24px);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}
.footer-tel-link {
    font-style: normal;
    display: inline-block;
    font-family: var(--text-font);
    @include font ($fs:14px, $lh:24px);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
.footer-social-title{
    display: inline-block;
    font-family: var(--text-font);
    @include font ($fw:700, $fs:14px, $lh:16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-form-div{
    margin-top: 60px;
}
.footer-form-label {
    display: inline-block;
    font-family: var(--text-font);
    @include font ($fw:700, $fs:14px, $lh:16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 20px;
}
.footer-form-input  {
    display: inline-block;
    width: 100%;
    max-width: 450px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    margin-bottom: 20px;

     &::placeholder {
        font-family: var(--text-font);
        @include font ($fs:16px, $lh:20px);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
     }
}
.footer-form-button {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 200px;
    height: 50px;
    left: 140px;
    top: 292px;
    color: #ffffff; 
    cursor: pointer;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @include font($fw:700, $fs:16px, $lh:30px);
}
.footer-form-button-icon {
    vertical-align: middle;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: #ffffff;
}

@media screen and (min-width: 768px) {

    .footer-logotype {
        text-align: start;
        justify-content: start;
        align-items: flex-start;
    }
    .footer-div {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: auto;
        margin-left: 76px;
        margin-bottom: 0px;
    }
    .footer-social-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin-right: auto;
        }
        .footer-form-input-div {
           display: flex;
           align-self: center;
           flex-direction: column;
           align-self: center;
        }

        .footer-form-div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            margin-top: 60px;
        }
}

@media screen and (min-width: 1200px) {

    .footer-div {
        text-align: start;
        align-items: flex-start;
        margin-right: auto;
        margin-left: 0px;
    }
    .footer-social-div {
        margin-right: auto;
    }
    .footer-social-title{
        text-align: start;
        align-self: flex-start;
    }
    .footer-form-input-div {
        display: flex;
        align-self: flex-start;
        flex-direction: row;
        align-self: flex-start;
     }
     .footer-form-input{
         width: 358px;
         margin-right: 10px;
     }
    .footer-form-div {
        text-align: start;
        margin: 0 0;
    }
}

