.footer {
    background-color: #2F303A;
    text-align: center;
    padding: 60px 0;
    // & .container {
    //     align-self: center;
    // }
    // margin-left: auto;
    // margin-right: auto;
}
.footer-logotype {
    text-align: center;
    font-family: var(--logotype-font);
    color: var(--accent-color);
    @include font-title ($fs:24px, $lh:28px);
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}
.logotype-dark-theme{
    color: #ffffff;
}
.footer-address-location {
    font-family: var(--text-font);
    @include font($fs:14px, $lh:24px);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer-email-link {
    font-family: var(--text-font);
    @include font ($fs:14px, $lh:24px);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}
.footer-tel-link {
    font-family: var(--text-font);
    @include font ($fs:14px, $lh:24px);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 60px;
}
.footer-social-title{
    font-family: var(--text-font);
    @include font-title ($fs:14px, $lh:16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-form-label {
    font-family: var(--text-font);
    @include font-title ($fs:14px, $lh:16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 20px;
}
.footer-form-input  {
    width: 450px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    margin-bottom: 20px;

     &::placeholder {
        font-family: var(--text-font);
        @include font ($fs:16px, $lh:20px);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
     }
}
.footer-form-button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    left: 140px;
    top: 292px;
    color: #ffffff; 
    cursor: pointer;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @include font-title($fs:16px, $lh:30px);
}
.footer-form-button-icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: #ffffff;
}



// /* footer links */
// .footer {
//     padding-top: 60px;
//     padding-bottom: 60px;
//     background-color: #2F303A;
// }
// .footer .container{
//     display: flex;
//     justify-content: space-between;
// }
// .footer-logotype {
// font-weight: 700;
// font-size: 26px;
// line-height: 1.19;
// letter-spacing: 0.03em;
// font-family: var(--logotype-font);
// color: #2196F3;
// }
// .footer-div{
//     display: block;
// }
// .footer-address{
//     margin-top: 20px;
// }
// .footer-address-list-item{
//     margin-top: 10px;
// }
// .footer-address-location {
// font-weight: normal;
// font-size: 14px;
// line-height: 1.71;
// letter-spacing: 0.03em;
// color: #FFFFFF;
// font-style: normal;
// }
// .footer-tel-link{
// font-style: normal;
// font-weight: normal;
// font-size: 14px;
// line-height: 1.71;
// letter-spacing: 0.03em;
// color: rgba(255, 255, 255, 0.6);
// transition-property: color;
// transition-duration: 250ms;
// transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// &:hover,
// &:focus{
//     color: var(--accent-color)
// }

// }
// .footer-email-link {
// font-style: normal;
// font-weight: normal;
// font-size: 14px;
// line-height: 1.71;
// letter-spacing: 0.03em;
// color: rgba(255, 255, 255, 0.6);
// transition-property: color;
// transition-duration: 250ms;
// transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// &:hover,
// &:focus{
//     color: var(--accent-color)
// }
// }

// .footer-social-div {
//     width: 206px;
//     height: 80px;
//     display: block;
//     padding-top: 19px;
//     margin-left: 70px;
// }
// .footer-social-title{
//     margin-bottom: 27px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14px;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #FFFFFF;
// }
// .social_footer-list{
//     display: flex;
//     justify-content: space-between;
//     }
// .social_footer-list-item-link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     background-color: rgba(255, 255, 255, 0.1);
//     border-radius: 50%;
//     transition-property: background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//     background-color: var(--accent-color);
//     }
//     &:hover .social-list-item-icon,
//     &:focus .social-list-item-icon {
//     fill: #ffffff;
//     }
//     }

// .social_footer-list-item-icon{
//     width: 20px;
//     height: 20px;
//     fill: #ffffff;
//     }    
    
//     .footer-form-div {
//         margin-left: 93px;
//         align-items: center;
//     }
//     .footer-form-label {
//         display: block;
//         margin-top: 10px;
//         font-weight: 700;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.03em;
//         text-transform: uppercase;
        
//         color: #FFFFFF;
//     }
//     .footer-form-input-div {
//         display: flex;
//         align-items:flex-end;
//     }
//     .footer-form-input {
//     min-width: 358px;
//     min-height: 50px;
//     margin-top: 20px;
//     margin-right: 10px;
//     padding-left: 15px;
//     outline: none;
//     background: #2F303A;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     box-sizing: border-box;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     color: #ffffff;
//     }
//     .footer-form-button {
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;
//         min-width: 200px;
//         height: 50px;
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 1.87;
    
//         display: flex;
//         align-items: center;
//         text-align: center;
//         letter-spacing: 0.06em;
//         color: #FFFFFF;
//         background: var(--accent-color);
//         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//         border-radius: 4px;
//     }
//     .footer-form-button-icon {
//         width: 24px;
//         height: 24px;
//         margin-left: 10px;
//     } 
// /* End footer links */
