.header {
    height: 60px;
    @extend %align;
    border-bottom: 1px solid #ECECEC;
}


.navigation-list {
    display: none;
}
.address-header {
    display: none;
}
.logotype {
    @include font ($fw:700, $fs:24px, $lh:28px);
    font-family: var(--logotype-font);
    letter-spacing: 0.03em;
    color: var(--accent-color);
   
}
.logotype-light-theme {
    color: var(--title-color)
}
.burger-icon {
    width: 40px;
    height: 40px;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}
.mobile-menu {
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 100%;
    
    height: 100%;
    max-height: 100vh;
    max-width: 480px;
    padding: 0 40px;
    position: absolute;
    max-width: 400px;
    margin-bottom: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background-color: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
}
.mobile-close-button,
.burger-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 15px;
}
.close-icon {
    width: 40px;
    height: 40px;
    fill: #000000;
}
.mobile-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    &:hover .close-icon,
    &:focus .close-icon{
        fill: var(--accent-color);
    }
}
.mobile-menu-nav-link {
    display: block;
    margin-bottom: 36px;
    @include font ($fw:500, $fs:40px, $lh:47px);
    font-family: var(--text-font);
    letter-spacing: 0.02em;

    color: var(--title-color);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.mobile-menu-nav-list {
    margin-bottom: auto;
    margin-top: 48px;
}

.mobile-menu-email-link {
    @include font ($fw:500, $fs:24px, $lh:28px);
    font-family: var(--text-font);
    letter-spacing: 0.02em;

    color: var(--text-color);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.mobile-menu-tel-link {
    display: block;
    margin-bottom: 32px;
    @include font ($fw:500, $fs:34px, $lh:40px);
    font-family: var(--text-font);
    letter-spacing: 0.02em;

    color: var(--text-color);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.mobile-menu-contact-list {
    margin-bottom: 65px;
}
.mobile-menu-social-list {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.mobile-menu-social-link {
    @include font ($fw:500, $fs:18px, $lh:22px);
    font-family: var(--text-font);
    letter-spacing: 0.02em;
    margin-bottom: auto;
    color: var(--accent-color);
    &::before {
        content: '';
        border-left: 1px solid rgba(33, 33, 33, 0.2); 
        margin-right: 10px;
    }
    &:not(last-child){
        margin-right: 10px;
    }
}






@media screen and (min-width: 768px) {
        .burger-icon {
            display: none;
        }
        .mobile-menu {
            display: none;
        }
        .logotype {
            margin-right: 88px;
        }
        .navigation {
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.navigation-list{
    display: flex;
    align-items: center;
}

.navigation-list-item {
    position: relative;
    &:not(:last-child){
        margin-right: 50px;
    }
}



.navigation-list-item-link {
    @include font ($fw:500, $fs:14px, $lh:16px);
    font-family: var(--text-font);
    letter-spacing: 0.02em;

    color: var(--title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}
.navigation-list-item-curent {
    color: var(--accent-color);
    &::after {
        content: '';
        position: absolute;
        display: flex;
        background: var(--accent-color);
        border-radius: 2px;
        width: 100% ;
        height: 4px;
        transform-origin: center;
        top: 36px;
    }  
}
.address-header {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.address-list{
    display: inline-block;

}

.email-link, 
.tel-link {
    @include font ($fw:500, $fs:12px, $lh:14px);
    font-family: var(--text-font);
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color)
}
}


.mail-icon {
    align-items: center;
    width: 14px;
    height: 10px;
}
}

.tel-icon {
    width: 10px;
    height: 14px;
}
.tel-icon,
.mail-icon {
    margin-right: 8px;
    fill: var(--text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .tel-link:hover &,
    .tel-link:focus &{
    fill: var(--accent-color);
    }
}
@media screen and (min-width: 1200px) {
    .header {
        height: 80px;
    }
    .logotype {
        @include font ($fw:700, $fs:26px, $lh:31px);
    }
    .email-link,
    .tel-link {
        @include font ($fw:500, $fs:14px, $lh:16px);
    }
    .email-link {
        margin-right: 30px;
    }
    .mail-icon,
    .tel-icon {
        margin-right: 10px;
    }
    .mail-icon {
        width: 16px;
        height: 12px;
    }
    .tel-icon {
        vertical-align: top;
        height: 16px;
    }
    .address-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

