/* modal-window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    width: 100%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-bottom: 40px;
}
/* end modal window */

/* modal form */
.modal-close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
}
.modal-close-button-icon {
    width: 20px;
    height: 20px;
    padding-top: 3px;
    align-items: center;
    justify-content: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        fill: var(--accent-color);
    }
    .modal-close-button:focus &{
        fill: var(--accent-color);  
    }
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.modal-form-title {
    @include font ($fw:700, $fs:20px, $lh:30px);
  
    font-family: var(--text-font);
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    padding-bottom: 12px;
}
.modal-form-icon-name {
    width: 17px;
    height: 17px;
    position: absolute;
    fill: #212121;
    transform: translateY(-50%);
    top: 50%;
    left: 14px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .modal-form-input:focus + & {
        fill: var(--accent-color);
     }
}
.modal-form-icon-tel {
    width: 17px;
    height: 16px;
    position: absolute;
    fill: #212121;
    transform: translateY(-50%);
    top: 50%;
    left: 14px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .modal-form-input:focus + & {
        fill: var(--accent-color);
     }
}
.modal-form-icon-email {
    width: 20px;
    height: 16px;
    position: absolute;
    fill: #212121;
    transform: translateY(-50%);
    top: 50%;
    left: 14px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    .modal-form-input:focus + & {
    fill: var(--accent-color);
 }
}
.modal-form-label {
    align-self:flex-start;
    @include font ($fs:14px, $lh:16px);
  
    font-family: var(--text-font);
    letter-spacing: 0.01em;
    color: var(--text-color);
    margin-bottom: 7px;
}
.modal-form-input {
    width: 370px;
    height: 40px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px; 
    margin-top: 7px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        padding-left: 42px;
    }
    &:focus {
        outline: none;
        border: 1px solid var(--accent-color);
        box-sizing: border-box;
        border-radius: 4px;
    }
}
.modai-form-input-align {
    display: block;
    position: relative;
}
.modal-form-textarea{
    width: 370px;
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    @include font ($fs:14px, $lh:16px);
  
    font-family: var(--text-font);
    letter-spacing: 0.03em;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
    &:focus{
        outline: none;
        border: 1px solid var(--accent-color);
        box-sizing: border-box;
        border-radius: 4px;
    }
}

.modal-form-label-license {
    text-align: center;
    vertical-align: middle;
    @include font ($fs:14px, $lh:16px);
  
    font-family: var(--text-font);
    letter-spacing: 0.03em;
    color: var(--text-color);
    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &::before {
        display: inline-block;
        vertical-align: top;
        content: "";
        background-image: url(../images/Vector.svg);
        width: 16px;
        height: 15px;
        fill:#000000;
        align-self: center;
        background-repeat: no-repeat;
        margin-right: 10px;
        transition-property: background-image;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-form-label-license span {
        vertical-align: middle;
    }
    .modal-form-check-license:checked + &::before {
        background-image: url(../images/iconcheck.svg);
        width: 16px;
        height: 15px;
        background-repeat: no-repeat;
        align-self: center;
    }
    .modal-form-check-license:focus + &::before {
        outline: 1px solid var(--accent-color);
     }
    }

.modal-form-button {
    min-width: 200px;
    min-height: 50px;
    margin-top: 40px;
    cursor: pointer;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @include font ($fw:700, $fs:16px, $lh:30px);
  
    font-family: var(--text-font);
    letter-spacing: 0.06em;
    align-self: center;
    @extend %align;
    text-align: center;
    color: #FFFFFF;
}

.modal-form-liense-link {
    color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
    .modal {
        max-width: 528px;
        width: 100%;
        height: 581px;
    }
    .modal-form-input {
        width: 448px;
    }
    .modal-form-textarea {
        width: 448px;
    }
}
/* end modal form */