

.portfolio-title {
    display: none;
    }

    .portfolio-list-item {
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }
    @media screen and (max-width:1199px)  {
        .portfolio-list-item{
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    }
    .portfolio-list-item-title{
        margin-left: 24px;
        margin-top: 20px;
        @include font ($fw:700, $fs:18px, $lh:36px);
        font-family: var(--text-font);
        letter-spacing: 0.06em;
        color: var(--title-color);
        margin-bottom: 8px;

    }
    .portfolio-list-item-text {
        margin-left: 24px;
        margin-bottom: 20px;
        @include font($fs:16px, $lh:30px);
        font-family: var(--text-font);
        letter-spacing: 0.03em;
        color: var(--text-color);

    }
    .portfolio-list-div {

        border: 1px solid #EEEEEE;
        border-top: none;
    } 

    .portfolio-list-item-link-div {
        width: 100%;
        .portfolio-list-item-link:focus & {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }
.portfolio-list-item {
    &:hover .portfolio-list-img {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
    .portfolio-image-div {
        position: relative;
        overflow: hidden;
    }
    .portfolio-image-div-text {
        position: absolute;
        @include font ($fs:18px, $lh:28px);
        font-family: var(--text-font);
        letter-spacing: 0.03em;
        height: 100%;
        color: #FFFFFF;
        left: 0;
        top: 0;
        padding: 77px 24px;
        width: 100%;
        background: rgba(33, 150, 243, 0.9);
        overflow: scroll;
        transform: translateY(100%);
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        .portfolio-list-item:hover & {
            transform: translateY(0);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
        .portfolio-list-item-link:focus & {
            transform: translateY(0);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }


    @media screen and (min-width: 768px) { 
            .portfolio-list {
        display: flex;
        align-content: center;
        flex-wrap: wrap;

    }   
        
        .portfolio-image-div-text {
            padding: 49px 24px;
        }
                
    .portfolio-image-div-p {
        width: 306px;
        height: 196px;
    }
        @media screen and (max-width:1199px) {
            .portfolio-list-item {
                &:nth-child(2n+1) {
                    margin-right: auto;
                }
            }
        }


    }
    @media screen and (min-width: 1200px) {
        .portfolio {
            padding: 94px 0;
        }
        .portfolio-image-div-p {
            width: 322px;
            height: 168px;
        }
        .portfolio-image-div-text {
            width: 100%;
            max-width: 370px;
            padding: 63px 24px;
        }
        .portfolio-list-div {
          width: 368px;

        }
        .portfolio-list-img {
            width: 370px;
            margin: 0 0;
        } 

        .portfolio-list {
            width: 1200px;
            margin: -14px;
        }
        .portfolio-list-item{
            margin-bottom: 0px;
            margin: 14px;
        }
    }

    