.team {
    background: #F5F4FA;
    padding: 60px 0;

}
.team-list {
    @extend %align;
    
    flex-direction: column;
}
.team-title {
    @include font($fw:700, $fs:28px, $lh:33px);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
    margin-bottom: 30px;
    margin-top: 30px;

}
.team-list-div {
    text-align: center;
    width: 100%;
    max-width: 450px;
    height: 162px;
    background: #ffffff;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list-item-title {
    font-family: var(--title-font);
    @include font($fw:500, $fs:16px, $lh:19px);
    letter-spacing: 0.03em;
    color: var(--title-color);
    padding-top: 30px;
}
.team-list-item-text {
    font-family: var(--text-font);
    @include font($fs:16px, $lh:19px);
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 16px;
}
.social-list-item:not(:last-child){
    margin-right: 10px;
}

@media screen and (min-width: 768px) {

    .team-list {
        flex-direction: row;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .team-list-div {
        width: 354px;
    }
}
@media screen and (max-width: 1199px){
    .team-list-item {
        &:nth-child(2n+1) {
            margin-right: auto;
        }
}
}
@media screen and (min-width: 1200px) {
    .team {
        padding: 94px 0;
    }
    .team-list-div {
        width: 270px;
    }
    .team-list-item {
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}


// /* About us */
// .aboutus {
//     background-color: #F5F4FA;
//     padding-top: 95px;
//     padding-bottom: 95px;
// }

// .aboutus-title {
// font-weight: 700;
// font-size: 36px;
// line-height: 1.16;
// text-align: center;
// letter-spacing: 0.03em;
// color: #212121;
// margin-bottom: 50px;
// }
// .aboutus-list {
//     align-content: center;
//     display: flex;
//     margin: -15px;

// }
// .aboutus-list-item{
//     margin: 15px;
//     background-color: #ffffff;
//     border: 1px solid #EEEEEE;

// }
// .aboutus-list-div {
//     background: #FFFFFF;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//     padding-left: 32px;
//     padding-right: 32px;
//     padding-bottom: 30px;

// }
// .aboutus-list-item-images{
//     margin-bottom: 30px;
// }
// .aboutus-list-item-title {
// font-weight: 500;
// font-size: 16px;
// line-height: 1.18px;
// text-align: center;
// letter-spacing: 0.03em;
// color: #212121;
// margin-bottom: 20px;
// }
// .aboutus-list-item-text {
// font-size: 16px;
// line-height: 1.18;
// text-align: center;
// letter-spacing: 0.03em;
// margin-bottom: 15px;
// }