// /* What are we doing */
@media screen and (max-width:1199px) {
    .work {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
        
    }
}

@media screen and (min-width: 1200px){

.work {
    padding-bottom: 94px;
}
.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
display: none;
}
.work-list-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: -15px;
    &:not(:last-child){
        margin-right: 30px;
    }
}
.work-list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;

}

.work-list-item-images-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #FFFFFF;
}
.work-list-item-images-div {
    width: 370px;
    position: absolute;
    top: 225px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}
}
// /* End What are we doing */