.social-list{
    display: flex;
    justify-content: center;
    }
.social-list-item-link {
    @extend %align;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
}
.footer & {
    background-color: rgba(255, 255, 255, 0.1 );
}
}


.social-list-item-icon{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    .social-list-item-link:hover &,
    .social-list-item-link:focus & {
    fill: #ffffff;
}
    .footer & {
        fill: #FFFFFF;
    }
    }
@media screen and (min-width: 768px){
    .social-list {
        .footer & {
            display: flex;
            justify-content: start;
            width: 203px;
        }
    }
  }
@media screen and (min-width: 1200px){
}