.container {
    width: 100%;
    padding: 0px 0px;

    .hero & {
        width: 100%;
        flex-direction: column;
        @extend %align;
    }
    .header & {
        display: flex;
        align-items: center;
        justify-content: space-between;
}
    .adv & {
        width: 450px;
    }
    .team & {
        @extend %align;
        flex-direction: column;
    }
}




@media screen and (min-width: 480px) {
    .container {
        width: 450px;
        margin: 0 auto;
    }   
}

@media screen and (min-width: 768px) {
    .container {
      width: 720px;
    }
}
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }
